.home * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Anek Kannada", sans-serif;
}

.home-body {
  background-color: #f8f8f8;
  color: #333;
  line-height: 1.6;
}

.home .top-container {
  height: 93vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.home video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home .content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #F8F4E1;
  background: rgba(0, 0, 0, 0.4);
}

.home .content h1 {
  font-family: "Arvo", serif;
  font-weight: 700;
  font-size: 3.5rem;
  margin-top: -90px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.home .middle-container {
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  position: relative;
  z-index: 1;
}

.home .about-us, .home .services {
  margin-bottom: 40px;
}

.home h2 {
  color: #444;
  font-size: 2.5rem;
  margin-bottom: 20px;
  border-bottom: 2px solid #e0e0e0;
  padding-bottom: 10px;
}

.home h3 {
  color: #555;
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.home p {
  line-height: 1.8;
  color: #666;
}

.home ul {
  list-style-type: none;
  padding: 0;
}

.home li {
  margin-bottom: 20px;
  padding: 10px;
  background: #f8f8f8;
  border-radius: 5px;
}

.home li h3 {
  margin-bottom: 5px;
}

.home .bottom-container {
  padding: 40px 20px;
  background-color: #AF8F6F;
  color: #fff;
  text-align: center;
  margin-top: 40px;
  position: relative;
  z-index: 1;
}

.home .bottom-container h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #f8f4e1;
}

.home .course-info {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.home .course {
  background-color: #74512D;
  border-radius: 8px;
  padding: 20px;
  width: 30%;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.home .course:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.home .course h3 {
  margin-bottom: 10px;
  color: #f8f4e1;
}

.home .course p {
  font-size: 1em;
  color: #ccc;
  margin-bottom: 20px;
}

.home .course-button {
  background-color: #543310;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.2em;
  transition: background-color 0.3s;
  cursor: pointer;
  
}

.home .course-button:hover {
  background-color: #74512D;
}

@media (max-width: 768px) {
  .home .course-info {
      flex-direction: column;
      align-items: center;
  }

  .home .course {
      width: 80%;
  }
}
.content p{
color: #AF8F6F;
}