
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 1rem;
  background-color: #543310;
  color: #AF8F6F;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navbar-links li a {
  color: #AF8F6F;
  text-decoration: none;
  font-size: 1rem;
}

.navbar-links li a:hover {
  color: #F8F4E1;
}

.navbar-logo a {
  color: #F8F4E1;
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: normal;
}
